* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px; /*Distance between eyes and screen it is called perspective*/
}

.container {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d; /*3d Changes should be preserve*/
}
.background {
  transform: translateZ(-45px) scale(6);
  background-size: cover;
  width: 100%;
}
.foreground {
  transform: translateZ(-20px) scale(3);
}
.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.container h1 {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translatex(-50%);
  font-size: 10rem;
  letter-spacing: 4px;
  color: rgb(121, 121, 121);
}

.page2 {
  min-height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  position: relative;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
}

.page2 h1 {
  font-size: 5rem;
}

.text-container {
  font-size: 1.4rem;
}

.page3 {
  position: relative;
  width: 100%;
  background-attachment: fixed;
  height: 800px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg1 {
  background-image: url(./Images/biking.jpeg);
}

.bg2 {
  background-image: url(./Images/paragliding.jpeg);
}

.bg3 {
  background-image: url(./Images/sarfing.jpeg);
}

.page3 h1 {
  font-size: 4rem;
  background: white;
  padding: 1rem;
  border-radius: 13px;
  box-shadow: 10px 10px 10px black;
}

@media only screen and (max-width: 805px) {
  .container h1 {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translatex(-50%);
    font-size: 7rem;
    letter-spacing: 4px;
    color: rgb(121, 121, 121);
  }

  .page2 h1 {
    font-size: 4rem;
  }
  .text-container {
    font-size: 2.4rem;
  }

  .bg1 {
    background-size: cover;
    object-fit: cover;
    background-position: 88rem;
    background-image: url(./Images/biking.jpeg);
  }

  .bg2 {
    background-size: cover;
    object-fit: cover;
    background-position: 113rem;
    background-image: url(./Images/paragliding.jpeg);
  }

  .bg3 {
    background-size: cover;
    object-fit: cover;
    background-position: 68rem;
    background-image: url(./Images/sarfing.jpeg);
  }
}

@media only screen and (max-width: 585px) {
  .container h1 {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translatex(-50%);
    font-size: 5rem;
    letter-spacing: 4px;
    color: rgb(121, 121, 121);
  }

  .page2 h1 {
    font-size: 2.1rem;
  }
  .text-container {
    font-size: 1.2rem;
    width: 100%;

    text-align: left;
    text-wrap: auto;
  }

  .bg1 {
    background-size: cover;
    object-fit: cover;
    background-position: 77rem;
    background-image: url(./Images/biking.jpeg);
  }

  .bg2 {
    background-size: cover;
    object-fit: cover;
    background-position: 102rem;
    background-image: url(./Images/paragliding.jpeg);
  }

  .bg3 {
    background-size: cover;
    object-fit: cover;
    background-position: 56rem;
    background-image: url(./Images/sarfing.jpeg);
  }

  .page3 h1 {
    font-size: 2rem;
    background: white;
    padding: 1rem;
    border-radius: 13px;
    box-shadow: 10px 10px 10px black;
  }
}
